:root {
  --primary: #4f46e5;
  --primary-dark: #4338ca;
  --accent: #06b6d4;
  --gray-100: #f1f5f9;
  --gray-300: #cbd5e1;
  --gray-600: #475569;
  --color-light: #bcb2a1;
  --color-medium: #887d71;
  --color-dark: #473827;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, var(--gray-100), #fff);
  color: var(--gray-600);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
} 